body{
    background-image: url('https://thumbnails.texastribune.org/N43NxufgNceZ1bfGmeqFstHU7TU=/1200x804/smart/filters:quality(95)/https://static.texastribune.org/media/images/ut_longhorn_logo2_.png');
    background-repeat: no-repeat; 
    background-size: cover;
}

#name{
    color: red;
}

.link{
    text-emphasis-style: strong;
}
.link:hover{
    color: blueviolet;
}