body{
    background-image: url('https://gray-kwtx-prod.cdn.arcpublishing.com/resizer/4JxrxX_cBt51awnIjfrnHcd1OX0=/1200x675/smart/filters:quality(85)/cloudfront-us-east-1.images.arcpublishing.com/gray/6TXBUTS4LBBZRHUQJQZP6RGGAM.jpg');
    background-repeat: no-repeat; 
}

#name{
    color: red;
}

.link{
    text-emphasis-style: strong;
}
.link:hover{
    color: blueviolet;
}